.titleLogin {
  font-size: 30px;
  text-align: center;
  font-family: fantasy;
}
.far {
  cursor: pointer;
}
.green-icon {
  color: #198754;
}
.red-icon {
  color: #dc3545;
}

/* .cardStyle {
  height: 500px;
  width: 900px;
} */
