<mat-toolbar color="primary">
  <span>
    <a routerLink="" mat-button>
      <mat-icon><span class="material-icons"> language </span></mat-icon> SITIO
      WEB
    </a>
  </span>
  <div>
    <a class="users" mat-button routerLink="listUsers">
      <mat-icon><span class="material-icons">people</span></mat-icon>
      Usuarios</a
    >
  </div>
  <div>
    <a class="users" mat-button routerLink="listUsers">
      <mat-icon><span class="material-icons">people</span></mat-icon>
      Update User</a
    >
  </div>
  <div>
    <a class="users" mat-button routerLink="filtro/Users">
      <mat-icon><span class="material-icons">search</span></mat-icon>
      Buscar usuarios</a
    >
  </div>
  <div>
    <a class="users" mat-button routerLink="listUsers">
      <mat-icon><span class="material-icons">people</span></mat-icon>
      Usuarios</a
    >
  </div>
  <div>
    <a class="users" mat-button routerLink="listUsers">
      <mat-icon><span class="material-icons">people</span></mat-icon>
      Usuarios</a
    >
  </div>
</mat-toolbar>
